/*===========================================================

    Main Application Styles

===========================================================*/

/*===========================================================

    DOM Component Styles

===========================================================*/

html {
  height: 100% !important;
  width: 100%;
  max-width: 100%;
}
body {
  position: relative;
  padding-bottom: 6rem;
  min-height: 100%;
  max-height: auto !important;
  margin: 0.5px !important;
  overflow-x: hidden !important;
}
footer {
    padding-top: 0 !important;
    width: 100%;
    position: absolute;
    right: 0;
    bottom: 0;
    left: 0;
    background-color: #2c3982 !important;
    text-align: center;
}

section {
    display: inline-block !important;
}
nav {
  background-color: #c3362b;
  text-align: center;
}
.navbar-brand{
  font-size: 26px !important;
}

main.container {
    max-height: 100%;
    padding-bottom: 3rem;
}
.hidden {
  display: none !important;
}
.heightHidden {
  height: 0;
}
.navbar {
    background: #2c3982 !important;
}
header {
    position: fixed;
    width: 100%;
    z-index: 1;
    top: 0;
}
.btn {
    background-color: #c3362b !important;
}
.viewList {
    margin-top: 4rem;
}

.viewDetails .card {
    margin-top: 6rem;
}
#application {
    display: inline-block;
    width: 100%;
    height: auto !Important;
}



.btn {
    width: 100%;
    padding: 1rem !important;
    background-color: #2c3982 !important;
    margin: 0 !important;
}

.card-block {
    padding-bottom: 0;
}
.navbar {
    display: block !important;
}
/*===========================================================

    Sidemenu Component Styles

===========================================================*/

.nav-side-menu {
  overflow: auto;
  font-family: Roboto, sans-serif;
  font-size: 12px;
  font-weight: 400;
  background-color: #2c3982;
  position: fixed;
  top: 1px;
  width: 300px;
  height: 100%;
  color: #e1ffff;
}
.nav-side-menu .brand {
  background-color: #2c3982;
  line-height: 50px;
  display: block;
  text-align: center;
  padding-top: 64px;
  font-size: 14px;
}
.nav-side-menu .toggle-btn {
  display: none;
}
.nav-side-menu ul,
.nav-side-menu li {
  list-style: none;
  padding: 0px;
  margin: 0px;
  line-height: 35px;
  cursor: pointer;
  /*    
    .collapsed{
       .arrow:before{
                 font-family: FontAwesome;
                 content: "\f053";
                 display: inline-block;
                 padding-left:10px;
                 padding-right: 10px;
                 vertical-align: middle;
                 float:right;
            }
     }
*/
}
.nav-side-menu ul :not(collapsed) .arrow:before,
.nav-side-menu li :not(collapsed) .arrow:before {
  font-family: FontAwesome;
  content: "\f078";
  display: inline-block;
  padding-left: 10px;
  padding-right: 10px;
  vertical-align: middle;
  float: right;
}
.nav-side-menu ul .active,
.nav-side-menu li .active {
  border-left: 3px solid #d19b3d;
  background-color: #4f5b69;
}
.nav-side-menu ul .sub-menu li.active,
.nav-side-menu li .sub-menu li.active {
  color: #d19b3d;
}
.nav-side-menu ul .sub-menu li.active a,
.nav-side-menu li .sub-menu li.active a {
  color: #d19b3d;
}
.nav-side-menu ul .sub-menu li,
.nav-side-menu li .sub-menu li {
  background-color: #181c20;
  border: none;
  line-height: 28px;
  border-bottom: 1px solid #23282e;
  margin-left: 0px;
}
.nav-side-menu ul .sub-menu li:hover,
.nav-side-menu li .sub-menu li:hover {
  background-color: #020203;
}
.nav-side-menu ul .sub-menu li:before,
.nav-side-menu li .sub-menu li:before {
  font-family: FontAwesome;
  content: "\f105";
  display: inline-block;
  padding-left: 10px;
  padding-right: 10px;
  vertical-align: middle;
}
.nav-side-menu li {
  padding-left: 0px;
  background-color: #242e67;
}
.nav-side-menu li a {
  text-decoration: none;
  color: #e1ffff;
}
.nav-side-menu li a i {
  padding-left: 10px;
  width: 20%;
  padding-right: 20px;
  font-size: 2em !important;
}
.nav-side-menu li:hover {
  border-left: 3px solid #d19b3d;
  background-color: #4f5b69;
  -webkit-transition: all 1s ease;
  -moz-transition: all 1s ease;
  -o-transition: all 1s ease;
  -ms-transition: all 1s ease;
  transition: all 1s ease;
}
@media (max-width: 1600px) {
  .nav-side-menu {
    position: relative;
    width: 100%;
    margin-bottom: 10px;
  }
  .nav-side-menu .toggle-btn {
    display: block;
    cursor: pointer;
    position: absolute;
    right: 10px;
    top: 10px;
    z-index: 10 !important;
    padding: 3px;
    background-color: #ffffff;
    color: #000;
    width: 40px;
    text-align: center;
    margin-right: 3rem;
  }
  .brand {
    text-align: left !important;
    font-size: 22px;
    padding-left: 20px;
    line-height: 50px !important;
  }
}
@media (min-width: 1600px) {
  .nav-side-menu .menu-list .menu-content {
    display: block;
  }
}
body {
  margin: 0px;
  height: auto;
  width: 100% !important;
  padding: 0px;
  max-width: 100% !Important;
  display: block;
}

/*===========================================================

    Search Bar Component Styles

===========================================================*/

.intro {
    margin: 3rem 0;
    text-align: center;
}
h3.h3-responsive {
    margin: 1rem 0;
}
#searchBar::-webkit-input-placeholder {
text-align: center;
}

#searchBar:-moz-placeholder { /* Firefox 18- */
text-align: center;  
}

#searchBar::-moz-placeholder {  /* Firefox 19+ */
text-align: center; 
}

#searchBar:-ms-input-placeholder {  
text-align: center; 
}
/*===========================================================

    Widget Component Styles

===========================================================*/

.widgetTitle h2 {
    text-align: center;
    text-transform: capitalize;
    padding: 1rem 0;
}
.card-block {
    padding-top: 0 !important;
}
.viewCard {
    margin: 3rem 0;
    padding: 2rem;
}
li.table {
    display: none !Important;
}
.card {
    padding: 1rem 2rem;
}

.card h4 {
    text-align: center;
}

/*===========================================================

   Map Widget Component Styles

===========================================================*/
.mapDescription {
    text-align: center;
    margin: 2rem 0;
}
#viewDetails {
    margin-top: 6rem;
}
.col-md-6.card {
    float: left;
    width: 48%;
    margin: 1%;
    text-align: center;
}
#mobileHandle {
    display: none;
}
/*===========================================================

   Table Widget Component Styles

===========================================================*/
article#table .btn {
    display: none;
}
#table #tableShrunk_wrapper {
    padding: 2rem;
    display: inline-block;
    overflow: hidden;
    max-width: 100%;
}

/*===========================================================

   Nav Widget Component Styles

===========================================================*/
.viewLink li a span {
    text-transform: capitalize;
    font-size: 18px;
}
h3.brand {
    font-size: 20px !important;
    font-weight: 700;
    font-family: Roboto, sans-serif;
}
/*===========================================================

   Chart Widget Component Styles

===========================================================*/
.chart .card {
    margin: 2%;
    width: 46%;
    float: left;
    padding: 2%;
    text-align: center;
}

#pyc {
    background-color: #05b54e;
    color: #fff;
}

#ri {
    background-color: #2c3982;
    color: #fff;
}
polyline {
    fill-opacity: 1 !important;
}
h4.card-title {
    text-transform: capitalize;
}

/*===========================================================

    Responsive Styles

===========================================================*/
@media screen and (min-width: 0px) and (max-width: 1000px) {
main.container {
    width: 100%;
    padding: 0;
}

section#viewDetails {
    margin-top: 3rem;
}

article#geomap {
    padding: 0;
    padding-top: 1rem;
}
.nav-side-menu .brand {
    padding-top: 0;
}

#sideMenu {
    position: fixed;
    width: 100%;
    padding: 0 !important;
    top: 0px;
    z-index: 2;
}

i.fa.fa-bars.fa-2x.toggle-btn {
    margin-right: 2rem;
}
.col-md-6.card {
    width: 99%;
    margin: 1rem 0;
}
#table p {
    text-align: center;
    margin-top: 1rem;
}

#table .card-block {
    display: none;
}
#charts {
    margin-bottom: 6rem;
    padding-bottom: 0;
}
.navbar {
    display: none !important;
}
#mobileHandle {
    display: block;
}
.dataTables_wrapper {
    display: none;
}
#mobileHandle img {
    margin: auto;
    float: none;
    width: 90%;
}
.detailCard svg {
    min-height: 300px !important;
}
table#tableShrunk {
    margin: 0;
}
#tableShrunk_wrapper {
    padding: 0 !important;
}
.card {width: 95% !important;max-width: 95% !important;margin: 2rem 2.5%;}
.detailCard {margin: 6rem 5% 6rem;width: 90% !important;padding: 0 !important;}
}
@media screen and (min-width: 1000px) and (max-width: 1600px) {
.navbar {
    display: none !Important;
}
#viewDetails {
    margin: 2rem 0;
}
h3.brand {
    padding-top: 0 !important;
}
.detailCard svg {
    min-height: 500px !important;
}
}
table#tableShrunk {
    max-width: 500px;
}